.grid-container{
	display : flex;
	flex-wrap : wrap;
	text-align : center;
}
.grid-container>div{
	background-color : lightgray;
	height : 150px;
	width : 200px;
	border-radius : 5px;
	font-size : 40px;
}
/*  your css code here. If applicable */
